header {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.game {
    float: right;
    // padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
