<form (submit)="onSubmit()" [formGroup]="snakeForm">
    <div class="form-group">
        <label class="form-label my-text fs-5" for="username">Player
            name</label>
        <input type="text"
            class="form-control"
            formControlName="username"
            id="username"
            placeholder="your username">
        <div [hidden]="username.valid || username.pristine"
            class="alert alert-danger">
            <p *ngIf="username.errors?.['required']">Player name is
                required.</p>
            <p *ngIf="username.errors?.['pattern']">Player name must have 3-15
                characters without any special symbols/whitespaces.</p>
            <p *ngIf="username.errors?.['ifUsernameExists']">Player username
                already exists.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label my-text fs-5" for="password">Player
            password</label>
        <input type="password"
            class="form-control"
            formControlName="password"
            id="password"
            placeholder="your password"
            autocomplete="off">
        <div [hidden]="password.valid || password.pristine"
            class="alert alert-danger">
            <p *ngIf="password.errors?.['required']">Password is
                required.</p>
            <p *ngIf="password.errors?.['pattern']">Password name must have 8-35
                characters with one small/big letter, digit and special
                character.</p>
        </div>

    </div>

    <div class="form-group">
        <label class="form-label my-text fs-5" for="confirmPassword">Confirm
            password</label>
        <input type="password"
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword"
            placeholder="confirm password"
            autocomplete="off">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
            class="alert alert-danger">
            <p *ngIf="confirmPassword.errors?.['differentPasswords']">Passwords
                don't match.
                password.</p>
        </div>
    </div>

    <div class="form-group" formGroupName="dateOfBirth">
        <p class="form-label my-text fs-5">Date of birth</p>
        <div>
            <label class="form-label" for="years">Year</label>
            <select id="years" formControlName="year">
                <option *ngFor="let year of setOfYears"
                    [value]="year">{{year}}</option>
            </select>
            <label class="form-label" for="months">Month</label>
            <select id="months" formControlName="month">
                <option *ngFor="let month of setOfMonths"
                    [value]="month">{{month}}</option>
            </select>
            <label class="form-label" for="days">Day</label>
            <select id="days" formControlName="day">
                <option *ngFor="let day of setOfDays"
                    [value]="day">{{day}}</option>
            </select>

        </div>
    </div>
    <div class="form-group">
        <app-game-theme
            [(currentTheme)]="currentGameTheme"></app-game-theme>

    </div>

    <button
        class="btn btn-success p-3 mt-2 fs-4"
        [disabled]="!snakeForm.valid">Start Game</button>
    <a [routerLink]="['/login']" class="my-text ms-4 fs-4">go back to
        login</a>
</form>
